@import '../../../assets/mixins'

.btn-link
	padding: 0.5em 0.75em 1.5em 2em

.jumbotron
	position: relative
	padding: 0
	height: 25em
	filter: grayscale(30%)

	// @media screen and (max-width:)

	background:
		size: auto
		position: center
		repeat: no-repeat

	.footnotes
		position: absolute
		bottom: 0
		right: 0
		padding: 0 2em 2em 2em
		color: white

		h4
			text-align: right
			// filter: blur(2px)

		ul
			padding: 0
			margin: 0
			display: flex
			flex-direction: row-reverse
			list-style: none

			li
				@include icon-size(2.5em)

	// Specific cover image styling
	&.portfolio
		background-size: cover
		$small: '../assets/landscape-arch-640w.png'
		$big: '../assets/landscape-arch-1000w.png'
		@include dynamic-banner-background($small, $big)

	&.dance
		background-size: cover
		$small: '../assets/jump-photo-640w.png'
		$big: '../assets/jump-photo-1000w.png'
		@include dynamic-banner-background($small, $big)

	&.murders
		$small: '../assets/Edgar-Allan-Poe-Signature-640w.png'
		$big: '../assets/Edgar-Allan-Poe-Signature-1280w.png'
		@include dynamic-banner-background($small, $big)
		background-size: contain
		background-color: #fff

		> .footnotes
			color: #000

	&.health
		$small: '../assets/veggie-casserole-640w.jpg'
		$big: '../assets/veggie-casserole-1000w.jpg'
		@include dynamic-banner-background($small, $big)
		background-size: cover

	&.mongomart
		$small: '../assets/overpasses-and-traffic-640w.jpg'
		$big: '../assets/overpasses-and-traffic-1000w.jpg'
		@include dynamic-banner-background($small, $big)
		background-size: cover

	&.bank
		$small: '../assets/banking-640w.jpg'
		$big: '../assets/banking-1000w.jpg'
		@include dynamic-banner-background($small, $big)
		background-size: cover

		> .footnotes
			color: #000

	&.portfolio2
		$small: '../assets/maik-jonietz-535261-unsplash-640w.jpg'
		$big: '../assets/maik-jonietz-535261-unsplash-1000w.jpg'
		@include dynamic-banner-background($small, $big)
		background-size: cover

	&.portfolio3
		$small: '../assets/programming-640w.jpg'
		$big: '../assets/programming-1000w.jpg'
		@include dynamic-banner-background($small, $big)
		background-size: cover

.project-detail
	padding: 0 2em
	overflow-wrap: break-word
	word-wrap: break-word
	font-weight: 300

	h1
		border-bottom: 1px solid black