<pre>
[Tue Apr 23 11:35:25 EDT 2024] Using CA: https://acme-v02.api.letsencrypt.org/directory
[Tue Apr 23 11:35:25 EDT 2024] Creating domain key
[Tue Apr 23 11:35:25 EDT 2024] The domain key is here: <span class="code-green">/root/.acme.sh/mycustomdomain.local_ecc/mycustomdomain.local.key</span>
[Tue Apr 23 11:35:25 EDT 2024] Multi domain='DNS:mycustomdomain.local,DNS:*.mycustomdomain.local'
[Tue Apr 23 11:35:27 EDT 2024] Getting webroot for domain='mycustomdomain.local'
[Tue Apr 23 11:35:27 EDT 2024] Getting webroot for domain='*.mycustomdomain.local'
[Tue Apr 23 11:35:28 EDT 2024] mycustomdomain.local is already verified, skip dns-01.
[Tue Apr 23 11:35:28 EDT 2024] *.mycustomdomain.local is already verified, skip dns-01.
[Tue Apr 23 11:35:28 EDT 2024] Verify finished, start to sign.
[Tue Apr 23 11:35:28 EDT 2024] Lets finalize the order.
[Tue Apr 23 11:35:28 EDT 2024] Le_OrderFinalize='https://acme-v02.api.letsencrypt.org/acme/finalize/[number_goes_here]/[number_goes_here]'
[Tue Apr 23 11:35:29 EDT 2024] Downloading cert.
[Tue Apr 23 11:35:29 EDT 2024] Le_LinkCert='https://acme-v02.api.letsencrypt.org/acme/cert/[long_number_goes_here]'
[Tue Apr 23 11:35:29 EDT 2024] <span class="code-green">Cert success.</span>
-----BEGIN CERTIFICATE-----
<span class="bash-comment"># Certificate in plaintext goes here</span>
-----END CERTIFICATE-----
[Tue Apr 23 11:35:29 EDT 2024] Your cert is in: <span class="code-green">/root/.acme.sh/mycustomdomain.local_ecc/mycustomdomain.local.cer</span>
[Tue Apr 23 11:35:29 EDT 2024] Your cert key is in: <span class="code-green">/root/.acme.sh/mycustomdomain.local_ecc/mycustomdomain.local.key</span>
[Tue Apr 23 11:35:29 EDT 2024] The intermediate CA cert is in: <span class="code-green">/root/.acme.sh/mycustomdomain.local_ecc/ca.cer</span>
[Tue Apr 23 11:35:29 EDT 2024] And the full chain certs is there: <span class="code-green">/root/.acme.sh/mycustomdomain.local_ecc/fullchain.cer</span>
</pre>