<meta name="keywords" content="jose mauricio paez developer musings blog pittsburgh">
<meta name="description" content="These are the musings (by any other name blog entries) of Mauricio Paez - Developer">
<meta name="author" content="Mauricio Paez - Developer">
<div class="">
	<div class="jumbotron contact">
	  <div class="text-container">
	    <h1>These are some lessons learned</h1>
	    <p>
	      As I work through random projects and rabbit holes, I have run into some interesting pieces of knowledge that I'd hate to waste. Some knowledge is not easy to find even with the best of web searches. This page contains such items.
	    </p>
	  </div>
	</div>
</div>

<div class="content-container">
	<div class="row row-mb-3">
		<div class="col-md-4 card-container">
			<div class="card text-center">
			  <div class="card-header">
			    <b>Recently Updated!</b>
			  </div>
			  <div class="card-body">
			  	<div class="icon">
			  		<i class="fab fa-raspberry-pi"></i>
			  	</div>
			    <h5 class="card-title">Raspberry Pi Twonky Server</h5>
			    <p class="card-text">Clear, sure-fire instructions on how to deploy Twonky Media Server in your Raspberry Pi.</p>
			    <a routerLink="./rpi-twonky" class="btn btn-primary">Get started</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4 card-container">
			<div class="card text-center">
			  <div class="card-header">
			    <b>New!</b>
			  </div>
			  <div class="card-body">
			  	<div class="icon">
			  		<i class="fa-brands fa-ubuntu"></i>
			  	</div>
			    <h5 class="card-title">Ubuntu HD Audio Playback</h5>
			    <p class="card-text">How to get HD Audio playback in latest Ubuntu releases.</p>
			    <a routerLink="./ubuntu-hd-audio" class="btn btn-primary">Get started</a>
			  </div>
			</div>
		</div>
  	</div>
</div>
