<meta name="keywords" content="travelogue easy-reading italy germany florence firenze capri venice venezia berlin rome roma colosseum gondola gallery galleria uffizi accademia">
<meta name="description" content="An easy-reading travelogue of a visit to Italy and Germany.">
<meta name="author" content="Mauricio Paez - Developer">
<div class="btn-container">
  <a routerLink="/Musings" class="btn btn-link"><i class="fas fa-chevron-left"></i>  Back to Musings</a>  
</div>

<div class="jumbotron">
  <div class="footnotes">
    <h4>Tech used</h4>
    <ul>
      <li *ngFor="let icon of currentContent.content.icons">
        <i class="{{icon}}"></i>
      </li>
    </ul>
  </div>
</div>

<p>travelogue-it-de works!</p>
